body {
  height: 100%;
}

.main-section {
  display: flex;
  justify-content: center;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  height: 100%;
}

@media all and (max-width: 90rem) and (min-width: 70rem) {
  .grid-section {
    grid-template-columns: repeat(2, 45%);
    column-gap: 5vw;
  }
}

@media all and (max-width: 70rem) {
  .grid-section {
    grid-template-columns: 98%;
  }
}